In [ ]:
# *import DattaFrame*

In [2]:
import pandas as pd 
file = pd.read_csv('A:/Data Sets/weatherAUS.csv')
print(file.head())

         Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
0  2008-12-01   Albury     13.4     22.9       0.6          NaN       NaN
1  2008-12-02   Albury      7.4     25.1       0.0          NaN       NaN
2  2008-12-03   Albury     12.9     25.7       0.0          NaN       NaN
3  2008-12-04   Albury      9.2     28.0       0.0          NaN       NaN
4  2008-12-05   Albury     17.5     32.3       1.0          NaN       NaN

  WindGustDir  WindGustSpeed WindDir9am  ... Humidity3pm  Pressure9am  \
0           W           44.0          W  ...        22.0       1007.7
1         WNW           44.0        NNW  ...        25.0       1010.6
2         WSW           46.0          W  ...        30.0       1007.6
3          NE           24.0         SE  ...        16.0       1017.6
4           W           41.0        ENE  ...        33.0       1010.8

   Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  RISK_MM  \
0       1007.1       8.0       NaN     16.9     21.8         No      0.0
1       1007.8       NaN       NaN     17.2     24.3         No      0.0
2       1008.7       NaN       2.0     21.0     23.2         No      0.0
3       1012.8       NaN       NaN     18.1     26.5         No      1.0
4       1006.0       7.0       8.0     17.8     29.7         No      0.2

   RainTomorrow
0            No
1            No
2            No
3            No
4            No

[5 rows x 24 columns]

In [3]:
file.head(10)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No
5,2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,W,...,23.0,1009.2,1005.4,NaN,NaN,20.6,28.9,No,0.0,No
6,2008-12-07,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,SW,...,19.0,1009.6,1008.2,1.0,NaN,18.1,24.6,No,0.0,No
7,2008-12-08,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,SSE,...,19.0,1013.4,1010.1,NaN,NaN,16.3,25.5,No,0.0,No
8,2008-12-09,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,SE,...,9.0,1008.9,1003.6,NaN,NaN,18.3,30.2,No,1.4,Yes
9,2008-12-10,Albury,13.1,30.1,1.4,NaN,NaN,W,28.0,S,...,27.0,1007.0,1005.7,NaN,NaN,20.1,28.2,Yes,0.0,No

In [4]:
file.shape

(142193, 24)

In [11]:
file[file['Humidity3pm'].isna()]['Evaporation']

1044      NaN
1045      NaN
1046      NaN
1047      NaN
3011      NaN
         ...
140668    9.6
140669    3.6
140670    4.0
140671    6.4
140992    NaN
Name: Evaporation, Length: 3610, dtype: float64

In [12]:
#  60843 values in Evaporation are NaN
# 67816 values in Sunshine are NaN
# 57094 values are NaN in Cloud3pm
# Cloud9am has 53657 NaN values
# NaN values in other columns are much less
# Date and Location are of no use either
# RISK_MM not to be used ...because DataSet maker said that it can leak information

In [13]:
# Drop columns listed above (columns with large amounts of Nan Values)

In [14]:
file2 = file.drop(columns=['Sunshine','Evaporation','Cloud3pm','Cloud9am','Location','RISK_MM','Date'],axis=1)

In [15]:
file2.shape

(142193, 17)

In [16]:
# Now remove rows which have NaN values.

In [18]:
file3 = file2.dropna(how='any')

In [19]:
file3.shape

(112925, 17)

In [20]:
# file3 now has no NaN values

In [23]:
file3['RainToday']

0         No
1         No
2         No
3         No
4         No
          ..
142188    No
142189    No
142190    No
142191    No
142192    No
Name: RainToday, Length: 112925, dtype: object

In [24]:
file3['RainTomorrow']

0         No
1         No
2         No
3         No
4         No
          ..
142188    No
142189    No
142190    No
142191    No
142192    No
Name: RainTomorrow, Length: 112925, dtype: object

In [26]:
# RainToday and RainTomorrow are in Yes/No Format

In [33]:
# Yes ====> 1
# NO  ====> 0

In [34]:
file3['RainToday'].replace({'No': 0, 'Yes': 1},inplace = True)
file3['RainTomorrow'].replace({'No': 0, 'Yes': 1},inplace = True)

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'

In [35]:
file3['RainToday'].value_counts()

0    87556
1    25369
Name: RainToday, dtype: int64

In [38]:
file3[['RainToday','RainTomorrow']]

        RainToday  RainTomorrow
0               0             0
1               0             0
2               0             0
3               0             0
4               0             0
...           ...           ...
142188          0             0
142189          0             0
142190          0             0
142191          0             0
142192          0             0

[112925 rows x 2 columns]

In [41]:
# Start working with non_numerical columns

In [39]:
text = ['WindGustDir', 'WindDir3pm', 'WindDir9am']

In [40]:
text

['WindGustDir', 'WindDir3pm', 'WindDir9am']

In [45]:
import numpy as np

In [48]:
for col in text:  
    print(np.unique(file3[col]))

file4 = pd.get_dummies(file3, columns=text)

['E' 'ENE' 'ESE' 'N' 'NE' 'NNE' 'NNW' 'NW' 'S' 'SE' 'SSE' 'SSW' 'SW' 'W'
 'WNW' 'WSW']
['E' 'ENE' 'ESE' 'N' 'NE' 'NNE' 'NNW' 'NW' 'S' 'SE' 'SSE' 'SSW' 'SW' 'W'
 'WNW' 'WSW']
['E' 'ENE' 'ESE' 'N' 'NE' 'NNE' 'NNW' 'NW' 'S' 'SE' 'SSE' 'SSW' 'SW' 'W'
 'WNW' 'WSW']

In [49]:
file4.shape

(112925, 62)

In [51]:
print(file4.head(5))

   MinTemp  MaxTemp  Rainfall  WindGustSpeed  WindSpeed9am  WindSpeed3pm  \
0     13.4     22.9       0.6           44.0          20.0          24.0
1      7.4     25.1       0.0           44.0           4.0          22.0
2     12.9     25.7       0.0           46.0          19.0          26.0
3      9.2     28.0       0.0           24.0          11.0           9.0
4     17.5     32.3       1.0           41.0           7.0          20.0

   Humidity9am  Humidity3pm  Pressure9am  Pressure3pm  ...  WindDir9am_NNW  \
0         71.0         22.0       1007.7       1007.1  ...               0
1         44.0         25.0       1010.6       1007.8  ...               1
2         38.0         30.0       1007.6       1008.7  ...               0
3         45.0         16.0       1017.6       1012.8  ...               0
4         82.0         33.0       1010.8       1006.0  ...               0

   WindDir9am_NW  WindDir9am_S  WindDir9am_SE  WindDir9am_SSE  WindDir9am_SSW  \
0              0             0              0               0               0
1              0             0              0               0               0
2              0             0              0               0               0
3              0             0              1               0               0
4              0             0              0               0               0

   WindDir9am_SW  WindDir9am_W  WindDir9am_WNW  WindDir9am_WSW
0              0             1               0               0
1              0             0               0               0
2              0             1               0               0
3              0             0               0               0
4              0             0               0               0

[5 rows x 62 columns]

In [53]:
# Making Features and Labels

# X ====> Feature
# Y ====> Label

In [56]:
X = file4.loc[:,file4.columns!='RainTomorrow']
Y = file4[['RainTomorrow']]

In [57]:
print(X.shape)
print(Y.shape)

(112925, 61)
(112925, 1)

In [58]:
# Splitting features and labels for training and testing

In [60]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(X,Y,test_size=0.1)

In [63]:
print(xtrain.shape)
print(xtest.shape)
print(ytrain.shape)
print(ytest.shape)

(101632, 61)
(11293, 61)
(101632, 1)
(11293, 1)

In [69]:
# Using Random Forest

In [70]:
from sklearn.ensemble import RandomForestClassifier
rain  = RandomForestClassifier(n_estimators=125, max_depth=8)
rain.fit(xtrain, ytrain)

C:\Users\ssart\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=8, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=125,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [71]:
# Training Accuracy
rain.score(xtrain, ytrain)

0.8482859729219143

In [72]:
# Test Accuracy
rain.score(xtest, ytest)

0.8439741432745949

In [73]:
# Saving model